/*
* Geneal
*/

/*
* Grid
*/

// Medium screen / desktop
$container-desktop:           ((910px + $grid-gutter-width));
$container-md:                $container-desktop;

// Large screen / wide desktop
$container-large-desktop:     ((950px + $grid-gutter-width));
$container-lg:                $container-large-desktop;
