<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12 logo-wrap">
				<a href="{{ site.baseurl }}">
					<img src="{{page.relative}}/img/20150621_125450-2ps.jpg" class="logo" alt="photo of me"/>
					<span class="name">Kamila</span>
					<span class="surname name">Wosinek</span>
				</a>
				<div class="mobile_menu_icon visible-xs"><span class="icon"></span></div>
			</div>
			<div class="col-sm-8 col-xs-12 nav_wrap text-right">
				<ul>
					<li><a href="#">About me</a></li>
					<li><a href="{{page.relative}}/projects">Projects</a></li>
					<li><a href="#">CV</a></li></li>
					<li><a href="{{page.relative}}/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
